<table class="tasks">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th colspan="2">Status</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>
        {{task.id}}
      </td>
      <td>
        {{task.name}}
      </td>
      <td>
        {{task.owner}}
      </td>
      <td>
        {{task.status}}
      </td>
      <td>
        {{task.progress}}%
      </td>
      <td>
        <button routerLink="/task/{{task.id}}">
          Show
        </button>
      </td>
    </tr>
  </tbody>
</table>